**/*.swp
**.war
*.rbc
*.sassc

.DS_STORE
.byebug_history
.pry_history
.pryrc_custom
.redcar/
.sass-cache
.yardoc
.yarn-integrity
.zeus.sock

rerun.txt
yarn-debug.log*

!/log/.keep
!/storage/.keep
!/tmp/.keep

/.bundle
/builds
/cache
/capybara*
/capybara-*.html
/config/config.yml
/config/master.key
/coverage.data
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*
/doc
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/features_report.html
/gems
/log/*
/node_modules
/pkg/
/public/assets/
/public/cache
/public/packs
/public/packs-test
/public/stylesheets/compiled
/public/system
/public/system/*
/shared/*
/shared/storage/*
/spec/tmp/*
/specifications
/storage/*
/target/
/tmp/*
/vendor/bundle/
/vendor/ruby/
/yarn-error.log
.env
